
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway');



html, body {
    max-width: 100vw !important;
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
    /* font-family: 'Raleway', sans-serif; */
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.header{
    background: url("../img/showcase.jpg") top right/cover;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgb(50,50,50);
    height: 8vh;
    align-items: center;
}

.header .logo p {
    color: rgb(255,255,255);
    text-shadow: 0.1rem 0.5rem 0.9rem rgb(175,175,175);
    padding-left:1rem;
    padding-top: 1vh;
    font-size: 1.7rem;
}
.header .logo p:hover{
    cursor: none;
}

.navbar {
    list-style: none;
    z-index: 1;
}

.navbar > a, .hoverbutton > a {
    color:white;
    padding: 0.40rem 0;
    margin: 0 1.25rem; 
    transition: opacity 1s ease-out;
    opacity: 0.5;
}

.navbar > a:hover,.hoverbutton > a:hover, .current{
    border-bottom: 0.1rem solid rgb(175,175,175);
    padding-bottom: 0.40rem;
    opacity: 1 !important;
}


/* ================END OF nav ==============*/

.dropmenu {
    display: none;
    position: fixed;
    /* background-color: white; */
    color: red;
    text-align: center;
    padding-top: 2vh;
    margin-left: 5rem;
    transition: all 0.25s;
    
}

.dropitem{
    padding: 1rem;
    display: block;
    background-color: #444;
    color: ivory;
    transition: all 0.3s;
}

.hoverbutton:hover  .dropmenu {
    display: block;
    transition: all 5s;
    /* color: indigo; */
}

.dropitem:hover{
    background-color: #333333;
}

.topbutton{
    display: none;
}


/* ================== Responsive ==================== */


@media(max-width:615px){
    .header{
        flex-direction: column;
        height: 10.5vh;
    }
    .navbar > a, .hoverbutton > a {
        margin: 0rem 1rem;
        border-bottom: none;
    }
    .topbutton{
        display: inline-block;
        background-color: red;
        background: url("../img/arrow.png") top center/cover;
        height: 30px;
        width: 40px;
        position: fixed;
        bottom: 10vh;
        right: 4vw;
    }
}