/* Showcase and for main website */

#showcase{
    display: flex;
    height: 92vh;
    background: url("../img/bg.jpeg") no-repeat top right/cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#showcase h1 {
    font-size: 3rem;
    background: -webkit-linear-gradient(white,dodgerblue,cyan);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* End of .showcase */


.intro{
    display: flex;
    flex-direction: column;
}

.con1{
    margin: 2vh 0.25vh;
    display: flex;
    flex-direction: row;
    height: 40vh;
}
#School{
    width: 60vw;
    flex: 1;
    height: 90%;
    background: url(../img/school.jpg) no-repeat center center/cover;
    border-radius: 1%;
}
.con2{
    margin-left: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}


.reverse{
    flex-direction: row-reverse;
}


.high{
    background: -webkit-linear-gradient(red,brown,orange,orange,brown,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pg{
    width: 60vw;
    flex: 1;
    height: 100%;
    background: url(../img/pg.jpeg) no-repeat center bottom/cover;
    border-radius: 1%;
}

/* form styling */

.form_wrap{
    padding-top: 5vh;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8rem;
    height: 92vh;
    background: url(../img/showcase.jpg) no-repeat center center/cover;
}

.form_con{
    border-radius: 3%;
    margin: auto;
    width: 50vh;
    background-color: white;
    padding: 1rem 1rem;
    /* text-align: center; */
    align-self: center;
}

.contact{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-bottom: 2rem;
}

label{
    margin-top: 2vh;
    font-size: 0.9rem;
    display: block;
    font-weight: 100;
    color: #444;
}

input , textarea{
    height: 5vh;
    width: 100%;
    border: #ddd 1px solid;
    border-radius: 5%;
    padding: 0.1rem 0.5rem;
}
textarea{
    height:8vh;

}

.button{
    margin-top: 3vh;
    color: white;
    padding: 0.5rem;
    width: 100%;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: #49c1a2;
    transition: all 0.25s;
}

.button:hover{
    background-color: #31836e;
    opacity: 0.8;
}

p.mail{
    font-size: 0.8rem;
    text-align: center;
}
a.mail{
    font-weight: 1000;
    font-size: 1rem;
    margin-left: 1rem;
    color: #44aa91;
    transition: all 0.25s;
}

/* End Of Form style */

@media(max-width:615px){
    
    .form_wrap{
        height: 89vh;
    }
    #pgback{
        height: 88vh;
    }
}