@import url('https://fonts.googleapis.com/css2?family=Raleway');


body {
    max-width: 100vw !important;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: #eeeeee;
}



* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}







.header{
    background-color: rgb(81, 163, 196);
    opacity: 0.8;
    color: black;
    font-size: 2rem;
    font-weight: 1000;
    width: 100vw;
    position: sticky;
    top: 0;
    padding-left: 5vw;
    height: 15vh;
    max-height: 5rem;
    display: flex;
    align-items: center;

}


form{
    display: block;
    margin: 0vh 3vw;
    padding: 2rem;
    background-color: whitesmoke;
    min-height: 85vh;
    border: 2px solid #bbb;
}

.q_text{
    padding-bottom: 2rem;
}

.q_text label{
    display: inline-block;
    margin-bottom: 0.7rem;
}

.q_text input[type="text"]{
    height: 2.5rem;
    max-width: 100%;
    width: 500px;
    color: #333333;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: oldlace;
}

.q_text textarea{
    height: 5rem;
    max-width: 100%;
    width: 500px;
    display: block;
    color: #333333;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: oldlace;
}

label.required:after{
    content: "*";
    color: crimson;
    font-size: 2rem;
}





.submit{
    font-size: 1.25rem;
    background-color: rgb(81, 163, 196);
    color: ghostwhite;
    padding: 0.75rem;
    border: 1px solid rgb(81, 163, 196);
    border-radius: 4px;
    transition: all 0.5s;
}

.submit:hover, .submit:active{
    background-color: rgb(60, 129, 156);
    cursor: pointer;
    border-radius: 5px;
}








/* Submitted page */

.submitted{
    margin-top: 2rem;
    text-align: center;
}